.BrowserLayout{
  float:left;
  width: 100%;
  padding-top: 60px;
  .BrowserLayoutInner{
    position: relative;
    margin: 0 auto;
    width: 980px;
    .BrowserLayoutInnerContent{
      float:left;
      width: 100%;
      padding: 20px 0;
    }
    .BrowserLayoutInnerTitle{
      float:left;
      width: 100%;
      padding: 40px 0 20px 0;
      border-bottom: 1px solid #e2e2e2;
      font:{
        size: 24px;
        weight: 600;
      }
    }
  }
}

@media screen and (max-width: 970px) {
  .BrowserLayout{
    .BrowserLayoutInner{
      width: 100%;
      padding: 0 20px;
    }
  }
}